.navbar {
  background-color: var(--nav-bg);

  a {
    color: var(--nav-color);
  }

  .navbar-item {
    &::after {
      background: var(--nav-active-color);
    }
  }
}

@media (max-width: 991.98px) {
  .navbar {
    .navbar-collapse {
      border-top: 1px solid var(--nav-bd);
    }
  }
}
