.navbar {
  background-color: var(--nav-bg);

  a {
    color: var(--nav-color);
  }

  .navbar-toggler {
    color: var(--nav-color);
    background-color: @transparent;
    border-color: var(--nav-bd);
  }

  .dropdown-toggle {
    color: var(--nav-color);
    background: @transparent;
  }

  .dropdown {
    .dropdown-toggle {
      &::after {
        border-color: var(--nav-bd) @transparent @transparent @transparent;
      }
    }

    .dropdown-menu {
      background-color: var(--nav-bg);
      border-top-color: var(--nav-dp-divide);

      .group-name {
        color: var(--nav-color);
        border-bottom-color: var(--nav-bd);
      }
    }
  }
}

@media (max-width: 991.98px) {
  .navbar {
    .navbar-collapse {
      border-top: 1px solid var(--nav-bd);
    }
  }
}
