.page {
  .theme-extreme {
    .stretch-screen();
  }

  .page-title {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 12rem;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
  }

  .btn-group {
    display: inline-flex;
    margin-left: 1rem;
    border-radius: 4px;

    svg {
      margin: 0.2rem;
      padding: 0.2rem;
      cursor: pointer;
    }
  }

  .timeline {
    margin: 0 auto;
  }

  // 最近更新的列表
  .latest {
    .article-list-container-size();
  }

  // 分页器居中
  .pagination-container {
    margin-bottom: 4rem;
    text-align: center;
  }
}
