@import './recent-update.less';

@banner-height: 26rem;
@input-height: 4.25rem;

.input-width() {
  width: 80%;
  max-width: 31.25rem;
}

.home {
  .banner {
    position: relative;
    height: @banner-height;
    background-repeat: no-repeat;
    background-size: 100% @banner-height + @navbar-height;
    background-attachment: fixed;

    .title-wrapper {
      .title {
        padding: 4rem 1rem 1em;
        font-weight: 900;
        font-size: 3rem;
      }

      .sub-title {
        padding: 0 1rem;
      }
    }

    .search-wrapper {
      position: absolute;
      bottom: 6.3rem;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 12.5rem;
      padding: 0 1rem;
      transform: translate(-50%, 50%);

      // @vuepress/search 插件中的类
      .search-box {
        display: flex;
        justify-content: center;
        width: 100%;

        .suggestions {
          top: @input-height + 0.25rem;
          .input-width();
          min-height: 15rem;
        }
      }

      input {
        display: block;
        .input-width();
        height: @input-height;
        padding: 0.625rem 2rem;
        font-size: 20px;
        border: none;
      }

      button {
        width: 12.5rem;
        height: @input-height;
        font-size: 20px;
        border: none;
        cursor: pointer;
      }
    }
  }

  .see-more {
    margin-bottom: 5rem;
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .home {
    .banner {
      .search-wrapper {
        width: 100%;
      }
    }
  }
}
