.post-body {
  h2 {
    border-bottom-color: @article-content-h2-bd;
  }

  code {
    background-color: @article-content-code-bg;
  }

  // 代码块中的 code 标签
  pre {
    & > code {
      background: @transparent;
    }
  }

  tr {
    border-top-color: @article-table-bd;
  }

  tr:nth-child(2n) {
    background-color: @article-table-bg;
  }

  th,
  td {
    border-color: @article-table-bd;
  }
}

div[class*='language-'] {
  position: relative;

  &::before {
    color: @code-lang-color;
  }
}

.line-numbers-mode {
  // 代码行号
  .line-numbers-wrapper {
    color: @code-line-color;
    background-color: @code-line-bg;
  }
}

// 评论区域
.markdown-body {
  a {
    color: @comment-link-color !important;

    &:hover,
    &:focus {
      text-decoration: none !important;
    }
  }
}
