*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(@transparent, var(--scrollbar-thumb));
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 5px;
}

.hover-line() {
  position: relative;

  &::after {
    position: absolute;
    right: 100%;
    bottom: 0;
    left: 0;
    height: 0.25rem;
    background: var(--nav-active-color);
    transition: right 0.3s ease-out;
    content: '';
  }

  &:hover {
    &::after {
      right: 0;
    }
  }
}
