.latest {
  .latest-item {
    display: flex;
    padding: 1.5rem 0;
  }

  .thumbnail {
    align-self: flex-start;
    width: 10rem;
    height: 6.25rem;
    margin-right: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }

  .content {
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: 0.8rem;
      font-size: 16px;
    }

    .excerpt {
      line-height: 1.5;
    }

    .excerpt,
    .time {
      font-size: 14px;
    }

    .time {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      svg {
        margin-right: 0.3rem;
        width: 0.875rem;
        height: 0.875rem;

        &:nth-child(2) {
          margin-left: 1rem;
        }
      }

      a {
        &:not(:nth-of-type(1)) {
          margin-left: 0.3rem;
        }
      }

      .split-line {
        margin-left: 0.3rem;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .latest {
    .latest-item {
      flex-direction: column;
    }

    .thumbnail {
      width: 100%;
    }

    .content {
      .title {
        margin-top: 1rem;
      }
    }
  }
}
