@primary: hsl(206, 92%, 46%);
@secondary: hsl(210, 100%, 73%);

@warning: hsl(39, 97%, 71%);
@error: hsl(360, 67%, 51%);
@info: hsl(179, 100%, 40%);
@success: hsl(168, 100%, 36%);

@gray-100: hsl(198, 19%, 89%);
@gray-300: hsl(198, 12%, 73%);
@gray-600: hsl(196, 7%, 42%);
@gray-900: hsl(193, 9%, 19%);

@dark: hsl(210, 1%, 11%);
@white: hsl(0, 0%, 100%);
@half-transparent: hsla(0, 0%, 0%, 0.5);
@transparent: hsla(0, 0%, 0%, 0);

body {
  // text
  --text-muted: @gray-600;

  // scrollbar
  --scrollbar-track: @gray-300;
  --scrollbar-thumb: @gray-600;

  // navbar
  --nav-bg: @gray-900;
  --nav-color: @gray-300;
  --nav-active-color: @secondary;
  --nav-bd: @gray-100;
  --nav-dp-divide: @dark;

  // banner
  --banner-search-bg: @half-transparent;
  --banner-input-bg: @white;
  --banner-button-bg: @primary;
  --banner-button-color: @white;

  // timeline
  --timeline-line-bd: @secondary;
  --timeline-line-bg: @white;
  --timeline-node-bg: lighten(@secondary, 20%);
  --timeline-img-bd: @white;
}

@text-muted: var(--text-muted);

@scrollbar-track: var(--scrollbar-track);
@scrollbar-thumb: var(--scrollbar-thumb);

@nav-bg: var(--nav-bg);
@nav-color: var(--nav-color);
@nav-active-color: var(--nav-active-color);
@nav-bd: var(--nav-bd);
@nav-dp-divide: var(--nav-dp-divide);

@banner-search-bg: var(--banner-search-bg);
@banner-input-bg: var(--banner-input-bg);
@banner-button-bg: var(--banner-button-bg);
@banner-button-color: var(--banner-button-color);

@timeline-line-bd: var(--timeline-line-bd);
@timeline-node-bg: var(--timeline-node-bg);
@timeline-line-bg: var(--timeline-line-bg);
@timeline-img-bd: var(--timeline-img-bd);
